:root {
      --gold-color: #DAA520;
      --dark-color: #1a1a1a;
      --light-color: #fff8e1;
      --accent-color: #ffcc00;
    }

      body {
      font-family: 'Roboto', sans-serif;
      background-color: var(--light-color);
      color: var(--dark-color);
    }

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



  